<section class="mt-[100px]">
    <h2 class="text-[28px] font-bold">Contact Us</h2>

    <p class="text-gray text=[18px] mt-[16px]">
        {{ .Site.Params.contactUsText}}
    </p>

    <form class="mt-[40px] flex flex-col gap-[20px]">

        <div class="grid grid-cols-2 gap-[20px]">

            <div class="flex flex-col gap-[12px]"></div>
            
                <label>Full Name</label>
                <input type="text" class="rounded-[8px] border-2 border-gray bg-transparent outline-none py-3">
        </div>

    </form>


</section>